* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    width: 500px;
    margin: 2rem auto;
}

.btns {
    width:160px ;
}
.btns button {
    border: 1px solid #80808070;
    color: gray;
    padding: 10px;
}
.btns button img {
    width: 100%;
}