* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    overflow-y: auto;
}
label {
    padding:0 0 0 10px;
}
input {
    margin-bottom: 20px;
    padding: 6px;
}

#boxForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:  0 1rem;
}
#subBox {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    padding: 10px;
}
.outBox {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 7px 20px;
}

#descricao {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem 2rem ;
    
}
textarea {
    width: 70%;
}

#buttns {
    padding: 5px;
    /* margin:  2rem; */
}